.ipynb_checkpoints
notebooks
unused
Dockerfile
.DS_Store
.gitignore
README.md
env.*
devops

# To prevent storing dev/temporary container data
*.csv
tmp

*/build
/build
build/
.gradle
.gradle/
/.gradle/
plex-downloader-api/build
/plex-downloader-api/build
plex-downloader-ui/build
/plex-downloader-ui/build

*.db
*.yml
.idea
.idea/
/.idea/
.circleci
.circleci/
/.circleci
node_modules
*/node_modules
node_modules/
/node_modules/
dist
*dist/
dist/
/dist