<app-navbar></app-navbar>
<p>
  home works!
</p>

<button (click)="retrieveOnDeckLibrary()">Get On Deck Library</button>

<div class="scrollmenu">
  <!--<a href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>-->
  <div *ngIf="videos">
    <div *ngFor="let video of videos" style="display: inline-block">
      <a (click)="startDownloadingMedia(video)"><img height="289" width="200" src="{{resolvePosterURL(video)}}" alt="Click to download: {{video.title}}"></a>
    </div>
  </div>
</div>


<div *ngIf="videos == null || videos.length == 0">
  <p>Please select a server on the navbar</p>
</div>
