<div class="card" *ngIf="video" style="display: inline-block; width: 15em;" title="{{video.title}}">
  <div class="card-header">

    <img *ngIf="video.type === 'episode'" (click)="openDialog(video)"
         class="card-img" src="{{mediaPhotoUrl}}"
         alt="{{video.grandparentTitle}} - S{{video.parentIndex}}E{{video.index}}"
         title="{{video.grandparentTitle}} - S{{video.parentIndex}}E{{video.index}}">


    <img *ngIf="video.type === 'movie'" (click)="openDialog(video)"
         class="card-img" src="{{mediaPhotoUrl}}" alt="{{video.title}}" title="{{video.title}}">

  </div>
  <div class="card-body" *ngIf="video.type === 'episode'">
    <h4 class="card-title"> </h4>
    <div class="container">
      <div class="row">
        <div class="col-8 metadata">
          <p>S{{video.parentIndex}}E{{video.index}}</p>
        </div>
        <div class="col-4 metadata">
          <p>{{video.year}}</p>
        </div>
      </div>
    </div>
    <p class="card-text" style="text-align: center" title="{{video.summary}}">{{video.type === 'episode' ? video.title : null}}</p>
  </div>
</div>

<div class="card" *ngIf="show" style="display: inline-block; width: 15em;" title="{{show.title}}">
  <div class="card-header">

    <img src="{{seriesPhotoUrl}}" (click)="openShowDialog(show)" class="card-img" alt="{{show.title}}"
         title="{{show.title}}"/>
  </div>
  <div class="card-body">
    <h2  class="card-title"></h2>
    <div class="container">
      <div class="row">
        <div class="col-8 card-text">
          <p>{{show.childCount}} Seasons</p>
        </div>
        <div class="col-4 card-text">
          <p *ngIf="show.year">{{show.year}}</p>
          <p *ngIf="!show.year">N/A</p>
        </div>
      </div>
    </div>
<!--    <p class="card-text">{{show.summary}}</p>-->
  </div>
</div>
