<app-settings></app-settings>
<app-loading></app-loading>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 col-sm-12">

    <div *ngIf="about">
      <h2>About</h2>
      <table class="table-striped table table-hover">
        <thead>

        </thead>
        <tbody>
        <tr>
          <td>Version</td>
          <td>{{about.version}}</td>
          <!--<td>
            <button type="button" class="btn btn-primary" (click)="startDownloadingMedia(episode)">
              Download
            </button>
          </td>-->
        </tr>
        <tr>
          <td>Branch</td>
          <td>{{about.branch}}</td>
        </tr>
        <tr>
          <td>OS Name</td>
          <td>{{about.osName}}</td>
        </tr>
        <tr>
          <td>OS Architecture</td>
          <td>{{about.osArchitecture}}</td>
        </tr>
        <tr>
          <td>OS Version</td>
          <td>{{about.osVersion}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="col-md-2"></div>

</div>
