<app-navbar></app-navbar>

<br><br>

<div class="container">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div *ngIf="searchComplete">
      <h2>Search Results: </h2>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" *ngIf="movies.length >= 1">
          <h2>Movies</h2>
          <div class="scrollmenu">

            <div class="container" *ngFor="let movie of movies"  style="display: inline-block; width: 15em">
              <br><br>
              <div class="row flex-column-reverse flex-md-row">
                <app-media-card [video]="movie"></app-media-card>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" *ngIf="shows.length >= 1">
          <h2>Shows</h2>

          <div class="scrollmenu">

            <div class="container" *ngFor="let show of shows; let i = index" [attr.data-index]="i"  style="display: inline-block; width: 15em">
              <br>
              <br>
              <div class="row flex-column-reverse flex-md-row">
<!--                <a (click)="openDialog(show)">-->
                  <app-media-card [show]="show"></app-media-card>
<!--                </a>-->
              </div>

              <!--<div *ngIf="show" id="show-target{{i}}" class="collapse">
                <app-series-panel [show]="show"></app-series-panel>
              </div>-->

            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>

      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" *ngIf="episodes.length >= 1">

          <h2>Episodes</h2>

          <div class="scrollmenu">

            <div class="container" style="display: inline-block; width: 15em" *ngFor="let episode of episodes">
              <br>
              <br>
              <div class="row flex-column-reverse flex-md-row">
                <app-media-card [video]="episode"></app-media-card>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-1"></div>
      </div>

    </div>
  </div>
  <div class="col-md-1"></div>
</div>
