<app-navbar></app-navbar>
<app-loading></app-loading>

<br><br>
<hr>

<div class="container">
  <div class="col-md-1"></div>
  <div class="col-md-1o">
    <div *ngIf="!firstTimeSetupCompleted" class="first-time-setup">
      <h2>Please select the Plex Media Server</h2>
      <div class="nav-item">
        <label>
          <select [(ngModel)]="selectedServer" name="servers-select" (ngModelChange)="onServerSelect()">
            <!--          <option>&#45;&#45;Server&#45;&#45;</option>-->
            <option *ngFor="let device of devices" [ngValue]="device.name">{{device.name}}</option>
          </select>
        </label>
      </div>
    </div>

    <br><br>

    <div class="main-videos-view" *ngIf="firstTimeSetupCompleted">

      <mat-tab-group [selectedIndex]="tabSelected.value"
                     (selectedIndexChange)="tabSelected.setValue($event)">

        <mat-tab *ngFor="let library of plexLibraries" label="{{library.title}}">
          <!-- TODO: Add ngIf that shows a loading animation while results are returned.   -->
          <div class="videos-view" *ngIf="sectionVideoMap">
            <br>
              <div *ngFor="let directory of sectionVideoMapKeys">
                <h2>{{directory.title}}</h2>
                <div class="scrollmenu">
                  <div *ngIf="sectionVideoMap.get(directory)">
                    <div *ngFor="let video of sectionVideoMap.get(directory)" style="display: inline-block">
                      <br><br>
                      <app-media-card [video]="video"></app-media-card>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </mat-tab>
        <!--<mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>-->
      </mat-tab-group>
    </div>

    <br><br>
    <hr>

  </div>
  <div class="col-md-1"></div>
</div>


