<app-navbar></app-navbar>
<!--<app-loading></app-loading>-->

<br><br>
<hr>

<div class="container">
  <div class="col-md-1"></div>
  <div class="col-md-1o">
    <div *ngIf="!firstTimeSetupCompleted" class="first-time-setup">
      <h2>Please select the Plex Media Server</h2>
      <div class="nav-item">
        <label>
          <select [(ngModel)]="selectedServer" name="servers-select" (ngModelChange)="onServerSelect()">
            <!--          <option>&#45;&#45;Server&#45;&#45;</option>-->
            <option *ngFor="let device of devices" [ngValue]="device.name">{{device.name}}</option>
          </select>
        </label>

        <label *ngIf="plexLibraries">
          <select name="library-select">
            <!--          <option>&#45;&#45;Server&#45;&#45;</option>-->
            <option *ngFor="let library of plexLibraries" [ngValue]="library.title" (click)="onLibrarySelect(library)">{{library.title}}</option>
          </select>
        </label>
      </div>
    </div>

    <div *ngIf="firstTimeSetupCompleted" class="library-view">
<!--      <app-library [libraryKey]="selectedLibrary.key" ></app-library>-->
    </div>

    <br><br>
  </div>
  <div class="col-md-1"></div>
</div>


