<nav class="navbar navbar-expand-md navbar-dark bg-dark" xmlns="http://www.w3.org/1999/html">
  <a class="navbar-brand" href="#">Plex Downloader</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Library</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Settings</a>
    </li>

    <li *ngIf="devices" class="nav-item">
      <label>
        <select [(ngModel)]="selectedServer" name="servers-select" (ngModelChange)="onServerSelect()">
<!--          <option>&#45;&#45;Server&#45;&#45;</option>-->
          <option *ngFor="let device of devices" [ngValue]="device.name">{{device.name}}</option>
        </select>
      </label>
    </li>

    <!--<li *ngIf="directories" class="nav-item">
      <label>
        <select [(ngModel)]="selectedLibrary" name="libraries-select" (ngModelChange)="onLibrarySelect()">
&lt;!&ndash;          <option>&#45;&#45;Server&#45;&#45;</option>&ndash;&gt;
          <option *ngFor="let directory of directories" [ngValue]="directory.title">{{directory.title}}</option>
        </select>
      </label>
    </li>-->



  </ul>

</nav>
