<div class="container" *ngFor="let season of seasons; let i = index" [attr.data-index]="i">
  <a data-toggle="collapse" href="#season-target{{i}}">
    <h3>{{season.title}}</h3>
  </a>

  <div class="col-md-1"></div>
  <div id="season-target{{i}}"  class="col-md-10 collapse">
    <table class="table" >
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
<!--        <th scope="col">Summary</th>-->
<!--        <th scope="col">Handle</th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let episode of season.videos">
<!--        <th scope="row">1</th>-->
        <td>{{episode.index}}</td>
        <td>{{episode.title}}</td>
        <td><button type="button" class="btn btn-primary" (click)="startDownloadingMedia(episode)">Download</button></td>
<!--        <td>@mdo</td>-->
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-1"></div>
</div>
