<div class="container-fluid" *ngIf="show">
  <!--  <h1 mat-dialog-title style="align-content: center; text-align: center;">{{show.title}}</h1>-->
  <div mat-dialog-content>
    <div>
      <!--<img src="{{resolveBannerURL(video)}}" class="card-img-top" alt="{{video.title}}"
           title="{{video.title}}"/>-->

      <div class="row no-gutters">
        <div class="col-md-4 col-xs-4">
          <img src="{{seriesPhotoUrl}}" class="card-img" alt="{{show.title}}"
               title="{{show.title}}"/>
        </div>
        <div class="col-md-8 col-xs-8">
          <div class="card-body">
            <h5 class="card-title">{{show.title}}</h5>

            <div class="card-text">

              <p>{{show.summary}}</p>

              <div *ngFor="let season of seasons; let i = index" [attr.data-index]="i">
                <div class="accordion" id="seasonAccordion">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" [attr.data-target]="'#season-target'+i"
                                data-toggle="collapse" aria-expanded="false">
                          <h5>{{season.title}}</h5>
                        </button>
                      </h2>
                    </div>

                    <div id="season-target{{i}}" class="collapse" aria-labelledby="headingOne"
                         data-parent="#seasonAccordion">
                      <div class="card-body">
                        <table class="table">
                          <thead *ngIf="season.videos">
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Title</th>
                              <th scope="col">Watched</th>
                            </tr>
                          </thead>
                          <thead *ngIf="season.track">
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Title</th>
                            </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let episode of season.videos">
                            <!--        <th scope="row">1</th>-->
                            <td *ngIf="season.title === 'All episodes'">S{{episode.parentIndex}}E{{episode.index}}</td>
                            <td *ngIf="season.title != 'All episodes'">{{episode.index}}</td>
                            <td>{{episode.title}}</td>
                            <td>{{episode.viewCount ? 'Yes' : 'No'}}</td>
                            <td>
                              <button type="button" class="btn btn-primary" (click)="startDownloadingVideo(episode)">
                                Download
                              </button>
                            </td>
                            <!--        <td>@mdo</td>-->
                          </tr>

                          <tr *ngFor="let track of season.track">
                            <!--        <th scope="row">1</th>-->
                            <td>{{track.index}}</td>
                            <td *ngIf="track.originalTitle != null">{{track.title}} - {{track.originalTitle}}</td>
                            <td *ngIf="track.originalTitle === null">{{track.title}}</td>
                            <td>
                              <button type="button" class="btn btn-primary" (click)="startDownloadingMusic(track)">
                                Download
                              </button>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div mat-dialog-actions>
  </div>
</div>

<div class="container" *ngIf="video">
  <!--  <h1 mat-dialog-title style="align-content: center; text-align: center;">{{video.type === 'movie'? video.title : video.grandparentTitle}} ({{video.year}})</h1>-->
  <!--  <div mat-dialog-content>-->
  <div class="card mb-3" style="max-width: 90%">
    <!--<img src="{{resolveBannerURL(video)}}" class="card-img-top" alt="{{video.title}}"
         title="{{video.title}}"/>-->

    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{mediaPhotoUrl}}" class="card-img" alt="{{video.title}}"
             title="{{video.title}}"/>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{video.type === 'episode' ? video.title : null}}</h5>
          <p class="card-text">{{video.summary}}</p>
          <p style="position: absolute; bottom: 0; right: 0">
            <button class="btn btn-primary" (click)="startDownloadingVideo(video)">
              Download {{video.type === 'movie' ? 'Movie' : 'Episode'}}</button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--  </div>-->
  <!--<div mat-dialog-actions>
  </div>-->
</div>
