<app-navbar></app-navbar>
<br><br>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10 col-sm-12">
    <!-- Grey with black text -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li *ngIf="isAdmin">
          <a class="nav-link" routerLink="/system-settings" routerLinkActive="active">System Settings</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-1"></div>

</div>

